torch>=2.7.1
torchvision>=0.22.1
torchaudio==2.7.1
huggingface-hub>=0.16.0
numpy>=1.24.0
Pillow>=9.5.0 
wandb>=0.20.1
accelerate>=1.8.1
transformers>=4.53.0
datasets>=2.21.0
librosa>=0.11.0
soundfile>=0.13.1
# streamlit>=1.25.0
# streamlit-drawable-canvas>=0.9.3
# einops>=0.6.0
# matplotlib>=3.7.0
# qwen-vl-utils>=0.0.8